.multiCollectionCard {
  padding: 1.5rem 0;
  width: 100%;
  max-width: 73%;
  background-color: #1f293780;
  border: 1px solid #374151;
  border-radius: .75rem;
}


@media (max-width: 768px) {
  .multiCollectionCard {
    max-width: 100%;
    padding: 1rem 0 0 0;
  }
}

.collectionContainer {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.collectionTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.scrollContainerWrapper {
  position: relative;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding: 1rem 1.5rem;
  gap: 2rem;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.item {
  flex-shrink: 0;
  width: 12rem;
  height: 18rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.commonGlow {
  filter: blur(0) drop-shadow(0 4px 16px rgba(43, 0, 255, 0.5));
}

.rareGlow {
  filter: blur(0) drop-shadow(0 4px 16px rgba(0, 255, 42, 0.276));
}

.epicGlow {
  filter: blur(0) drop-shadow(0 4px 16px rgba(64, 29, 107, 0.584));
}

.legendaryGlow {
  filter: blur(0) drop-shadow(0 4px 16px rgba(222, 78, 16, 0.584));
}

.item:hover {
  transform: scale(1.05);
}

.imagePlaceholder {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 2;
  background-blend-mode: overlay;
}
