.dashboardContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navbarWrapper {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    z-index: 1000;
  }
  
  .dashboardMain {
    display: flex;
    flex: 1;
    margin-top: 90px;
    height: calc(100vh - 60px);
    flex-direction: row;
  }
  
  .leftSection {
    width: 30%;
    background: #f4f4f4;
    position: fixed;
    left: 0;
    top: 90px;
    height: calc(100vh - 90px);
    overflow: auto;
  }
  
  .rightSection {
    width: 70%;
    margin-left: 30%;
    padding: 1rem;
    overflow-y: auto;
    height: calc(100vh - 90px);
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .rightSection::-webkit-scrollbar {
    display: none;
  }
  
  @media (max-width: 768px) {
    .dashboardMain {
      flex-direction: column;
      height: auto;
      margin-top: 90px;
    }
    .leftSection {
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
      margin-bottom: 1rem;
    }
    .rightSection {
      position: relative;
      width: 100%;
      margin-left: 0;
      height: auto;
    }
  }
  