.container {
  height: calc(var(--vh) * 100);
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  background: var(--login-background);
}

.header {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  background: var(--loginText-gradient);
  -webkit-background-clip: text;
  color: transparent;
}

.subtitle {
  color: var(--loginSubText);
}

.loginBox {
  position: relative;
  background: var(--loginBox);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 2rem;
  width: 24rem;
  box-shadow: 0px 4px 10px var(--loginBox-shadow);
  border: 1px solid var(--loginBox-border);
}

.alert {
  margin-bottom: 1.5rem;
  background: var(--alert-background);
  border-color: var(--alert-border);
  color: var(--alert-text);
}

.inputGroup {
  position: relative;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  background: var(--input-background);
  border: 1px solid var(--input-border);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
}

.focusIndicator {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--focus-indicator);
  opacity: 0;
  transition: opacity 0.2s;
}

.visible {
  opacity: 0.5;
}

.selectTrigger {
  width: 100%;
  background: var(--select-background);
  border: 1px solid var(--select-border);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.selectContent {
  background: var(--select-hover);
  backdrop-filter: blur(5px);
  border: 1px solid var(--select-border);
  width: 100%;
  min-width: 20rem;
  max-width: 20rem;
}

.selectItem {
  color: white;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
}

.selectItem:hover {
  background: var(--select-hover);
}

.selectItemText {
  flex: 1;
}

.selectItemIndicator {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.button {
  width: 100%;
  background: var(--button-background);
  border: 1px solid var(--select-border);
  color: white;
  padding: 0.75rem;
  border-radius: 4px;
  transition: background 0.2s;
}

.button:hover {
  background: var(--button-hover);
}

.loader {
  margin-right: 0.5rem;
}

.icon {
  margin-right: 0.5rem;
}

.footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: var(--footer-text);
}
